<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Kontexter - Jak to funguje?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.2/gh-fork-ribbon.min.css" />
</head>
<body>
<a class="github-fork-ribbon" href="https://gitlab.com/mossgeek/incideri" data-ribbon="GitLab project" title="GitLab project">GitLab project</a>
<div class="container">
    <h1>Kontexter - Jak to funguje?</h1>
    <img src="{{ url_for('static', filename='kontexter.png') }}" alt="Diagram jak kontexter pracuje." />
    <p>
        Kontexter je velice jednoduchý. Jak vidíme na diagramu, tak nejprve rozšíříme dotaz pomocí našeptávače, zahledáme k pěti dotazům prvních deset organických výsledků. Kontexter poté vezme dotazy s doménami pokusí se dotazy seskupit.
    </p>

    <h3>1) Našeptávač</h3>
    <p>Nejprve zavoláme našeptávač pro zadaný dotaz, vyžádáme si 6 dotazů, protože většinou se našeptá i zadaný dotaz, ten odebereme.</p>
    <p><small>Může se stát, že našeptávač nevrátí shodný dotaz, poté kontexter pracuje s 6 dotazy a tedy je i nabídne.</small></p>

    <h3>2) Organic</h3>
    <p>Pro každý našeptaný dotaz se doptáme na prvních deset výsledků v organickém hledání. U těchto výsledků vezmeme pouze jejich doménová jména, nikoliv celé adresy.</p>

    <h3>3) Kontexter</h3>
    <p>Kontexter získá seznam dotazů z našeptávače - ke každému dotazu deset domén. Z těchto dotazů sestaví matici a hledá shodné domény. Vytvoří dvojice dotazů se shodnými doménami.</p>
    <p>Dvojice z matice se přesunou ještě do nástroje, který z dvojic dotazů vytváří trojice či větší skupiny dotazů, pokud mají dvojice průnik jedním dotazem.</p>

    <h3>4) SERP</h3>
    <p>A tento výsledek jednoduše vykreslíme do SERPu nad výsledky tak, aby bylo znát, které dotazy jsou uskupené.</p>

    <h2>Závěr</h2>
    <p>Kontexter je v zásadě velice jednoduchý, abychom hackaton stihli, vynechali jsme rozhodování, kdy pro dotaz kontexter spouštět a kdy ne. Taktéž jsme uvažovali nad zapojením dalších zdrojů jako jsou například kartičky a hinty.
    Taktéž by pomohlo pracovat s entitami z CQP. Pro kontexter jsme původně chtěli použít Querysites, které CQP vrací k dotazu, ale když jsme si s tím hráli, organic se nám zdál lepší.</p>
    <p>Taktéž by bylo fajn rozšířit nabídku dotazů o obrázky nebo alespoň ikony, aby bylo používaní více intuitivní.</p>

</div>
</body>
</html>